@font-face {
    font-family: electronicFont;
    src: url(../../assets/font/DS-DIGIT.TTF);
}

.totalStudent {
    width: 100%;
    text-align: center;
    line-height: 100px;
    background-image: url(../../assets//static/webStatic/title_border.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.studentNum {
    opacity: 1;
    text-shadow: 0px 0px 8px rgba(32, 180, 250, 0.58);
    font-family: electronicFont;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 0px;
    color: #ffe968;
    vertical-align: top;
}

.reportText {
    opacity: 1;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0px;
    color: #fff;
    vertical-align: top;
    font-family: "字魂151号-联盟综艺体";

}


.map2,
.map3 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 60rem;
    background-size: 100% 100%;
    /* position: static; */
    z-index: 2;
}

.map2 {
    z-index: 0;
    width: 60rem;
    height: 60rem;
    background-image: url(../../assets/static/webStatic/lbx.png);
    opacity: 0.6;
    animation: rotate 15s linear infinite;
}

.map3 {
    z-index: 0;
    width: 60rem;
    height: 60rem;
    background-image: url(../../assets/static/webStatic/jt.png);
    animation: rotate1 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate1 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}